# Use the same DB as in laboratory work 1.
# For PostgreSQL from Lr1 this usually looks like:
DB_TIME=postgresql+psycopg://postgres:postgres@localhost:5432/time_manager_db

# SQLite example (if Lr1 was tested on SQLite):
# DB_TIME=sqlite:///../Lr1/time_manager.db
